.calculator {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.inCoin {
    width: 49%;
    height: 37.5px;
    align-content: right;
    display: inline-block;
    border-radius: 4px;
    padding: 8px 5px;
    box-sizing: border-box;
    border: 0px;
    color: darkslategray;
    vertical-align: middle;
}

.inCoin:focus {
    outline: none;
    color: black;
}

.select {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}

.setCoins {
    padding-top: 8px;
}