.App {
  background-color:indianred;
  width: 60%;
  margin: 2em auto;
  border-radius: 8px;
  padding: 0.5em;
}

header {
  padding: 0.5em;
  text-align: center;
  border-bottom: 2px solid crimson;
}